/* Footer section */
.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--clr-blue-grayish);
    font-size: 1rem;
}

.footer__attribution {
    text-align: center;
}

.footer a {
    color: var(--clr-blue-dark);
    text-decoration: none;
    transition: color 250ms ease-in;
}

.footer a:hover {
    text-decoration: underline;
    color: var(--clr-red);
}