/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Variables */
:root {
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);
    --clr-blue-dark: hsl(234, 12%, 34%);
    --clr-blue-grayish: hsl(229, 6%, 66%);
    --clr-gray-light: hsl(0, 0%, 98%);
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-gray-light);
    font-family: 'Poppins', sans-serif;
    color: var(--clr-blue-dark);
    min-height: 100vh;
}

/* Utilities */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Animations */
